<!DOCTYPE html>
<html>
<head>
    <title>Receipt Analyzer</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>Receipt Analyzer</h1>
        <nav>
      <a class="btn-nav" href="{{ url_for('home') }}">Home</a>
      <a class="btn-nav" href="{{ url_for('history') }}">History</a>
      <a class="btn-signout" href="{{ url_for('logout') }}">Sign Out</a>
    </nav>
    </div>
    
    <div class="supported-formats">
        <h3>Supported File Formats:</h3>
        <p>PDF, JPEG, JPG, PNG</p>
        <p><strong>Note:</strong> File size should be less than 50MB</p>
    </div>
    
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="receipt">Select Receipt Image:</label>
            <input type="file" id="receipt" name="receipt" accept="image/*,.pdf" required>
        </div>
        <button type="submit">Analyze Receipt</button>
    </form>

    {% if error %}
    <div class="error">
        <h3>Error:</h3>
        <p>{{ error }}</p>
    </div>
    {% endif %}

    {% if table_data %}
    <h2>Results:</h2>
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Category</th>
            <th>Subcategory</th>
        </tr>
        </thead>
        <tbody>
        {% for name, price, category, subcategory in table_data %}
            <tr>
            <td>{{ name }}</td>
            <td>${{ "%.2f"|format(price) }}</td>
            <td>{{ category }}</td>
            <td>{{ subcategory }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


    {% if image_path %}
    <h2>Spending Breakdown:</h2>
    <img src="{{ image_path }}" alt="Pie Chart">
    {% endif %}
</body>
</html>